<nav class="navbar navbar-expand-lg navbar-light bg-main">
  <a class="navbar-brand" href="#">Down The Hatch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item"><a routerLink="/calendar" class="nav-link">Calendar</a></li>
    </ul>
  </div>
</nav>