<div class="beers-container">
  <div class="beer-content" *ngIf="activeBeer; else placeholderText">
    <mat-card>
      <mat-card-title>{{activeBeer.beerName}}</mat-card-title>
      <mat-card-subtitle>{{activeBeer.monthsAvail}}</mat-card-subtitle>
    </mat-card>
  </div>
  <ng-template #placeholderText>
    Pick a beer!
  </ng-template>
</div>