<mat-toolbar class="pt-3">
  <mat-form-field>
    <mat-select placeholder="Select Brewery" [(value)]="selectedBrewery">
      <mat-option *ngFor="let brewery of breweries" value="{{brewery.breweryName}}" (onSelectionChange)="getBeersFromBrewery($event, brewery.breweryName)">
        {{ brewery.breweryName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<div class="container" *ngIf="availableBeers">
  <div class="text-center mt-2">
    <h4>{{selectedBrewery}} <span class="secondary">2019 Beer Releases</span></h4>
  </div>
  <div class="beers-container">
    <mat-list>
      <div *ngFor="let beer of availableBeers">
        <mat-list-item (click)="setActiveBeer(beer)">
          {{ beer.beerName }}
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </div>
    </mat-list>
    <app-beer-container *ngIf="activeBeer" [activeBeer]="activeBeer"></app-beer-container>
  </div>
</div>